body {
    margin: 0px;
    padding: 0px;
}

header {
display: block;
text-align: center;
}

article {
    width: 100%;
    display: flex;
}

section {
    width: 80%;
    display: flex;
}

aside {
    width: 20%;
    display: block;
    margin-right: 3%;
}

.jolt-image {
    display: block; 
    width: 15vw; 
    height: 18vh;
    border: 0.25px solid black;
}

.jolt-text {
    display: flex;
}

footer {
    width: 100%;
    display: block;
}

.left {
    display: block; 
    text-align: center;
    width: 35%;
    margin-left: 3%;
}

.middle {
    display: block; 
    max-width: 75%;
    margin-left: 3%;
    margin-right: 0;
}

.story {
    display: flex; 
    max-width: 70%;
}


.article-text {
    display: block; 
    flex-direction: column;
    text-align: left;
    margin-left: 2%;
}

.article-info {
    display: block; 
    text-align: left;
    margin-left: 2%;
    align-items: flex-start;
    justify-content: space-between;
}

.article-dtls {
    display: flex; 
}

.dek {
    max-width: 30vw;
    display: flex; 
}

.article-title {
    max-width: 30vw;
    display: flex; 
}

.article-image {
    width: 15vw; 
    height: 28vh;
    border: 1px solid lightgrey;
    display: flex;
    object-fit: cover;
    
}

#footer-div {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 3%;
    margin-right: 3%;
}

.footer-logo {
    display: flex;
}

.footer-nav {
    display: flex;
}



