body {
    margin: 0px;
    padding: 0px;
}

header {
display: block;
text-align: center;
}

article {
    width: 100%;
    display: flex;
}

section {
    width: 80%;
    display: flex;
}

aside {
    width: 20%;
    display: block;
    margin-right: 3%;
}

footer {
    width: 100%;
    display: block;
}

.left {
    display: block; 
    text-align: center;
    width: 35%;
    margin-left: 3%;
}

.middle {
    display: block; 
    max-width: 75%;
    margin-left: 3%;
    margin-right: 0;
    padding-top: 2em;  
}

aside {
    border-left: 1px solid #878686;
    max-height: 70%;

}

.story {
    display: flex; 
    max-width: 95%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: left;
}

.article-image {
    width: 15vw; 
    height: 28vh;
    border: 1px solid lightgrey;
    display: flex;
    object-fit: cover;   
}

.article-text {
    margin-left: 1em;
    border:2px solid black;
    width: 35vw; 
    height: 28vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: left;
    
}

.article-info {
    display: flex; 
    flex-direction: row;
    text-align: left;
    align-content: space-around;
    border:2px solid black;
    width: 35vw; 
    height: 3vh; 
}

.article-detail {
    padding: 0;
    margin-top: 0;
    font-size: 0.85em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600; 
    color: #525050;
    margin-right: 1em;
}

.article-info2 {
    display: flex; 
    flex-direction: column;
    text-align: left;
    border:2px solid black;
    width: 35vw; 
    height: 24vh; 
}

.dek {
    padding: 0;
    margin-top: 0;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    font-weight: 400; 
    color: #525050;
    margin-right: 1em; 
    text-justify: inter-word;
    display: block;
    text-align: left;
}

.article-title {
    padding: 0;
    margin-top: 0;
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600; 
    color: #000000;
    margin-right: 1em; 
    text-justify: inter-word;
    display: block;
    text-align: left;
}


#footer-div {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 3%;
    margin-right: 3%;
}

.footer-logo {
    display: flex;
    padding-top: 19px;
    margin-top: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 1.5em;
}

.footer-nav {
    display: flex;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: #525050;
    padding-top: 0;
    margin-top: 0;
    font-size: 1em;
}

.footer-nav:hover {
    cursor: pointer;   
}

#footer-hr {
    background-color: #878686;
    margin: 0;
}

#opening-mantra {
    font-family: 'Roboto Mono', monospace;
    color: #000000;
    padding-top: 70px;
    padding-bottom: 140px;
    margin-top: 0;
    font-size: 1em; 
    font-weight: 700; 
    text-justify: inter-word;
    display: block;
    text-align: left;
}

#user-search-word p {
    font-family: 'Roboto Mono', monospace;
    color: #000000;
    padding-top: 0;
    margin-top: 0;
    font-size: 1em; 
    font-weight: 700; 
    text-justify: inter-word; 
}

#user-search-word {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

#keyword {
    margin-bottom: 18px; 
    width: 16vw;
    border-radius: 5px;
    border: 0.5px solid #525050;
    margin-left: 0;
    font-size: 1em; 
    padding: 5px 10px;
}

.input-button {
    margin-bottom: 18px; 
    border-radius: 5px;
    font-size: 1em;
    color: #696969; 
    text-align: center;
    padding: 5px 10px; 
    margin-left: 1em; 
    background-color: #DCDCDC;   
}

.randomize-at-opening {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    border-radius: 5px;
    font-size: 1em;
    color: #696969; 
    text-align: center;
    padding: 5px 10px; 
    margin-left: auto;
    margin-right: auto; 
    background-color: #DCDCDC;
      
}

.input-button:focus {
    outline: none;
}

#keyword:focus {
    outline: none;
}

#prod {
    font-family: 'Roboto Mono', monospace;
    color: #000000;
    padding-top: 0;
    margin-top: 0;
    font-size: 1em; 
    font-weight: 700; 
    text-justify: inter-word; 
    text-align: left;
}

#opening-randomize p{
    padding-top: 2.585em; 
    padding-bottom: 2.585em; 
} 

.left p {
  color: #525050;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 1em; 
  text-justify: auto;  
}

.left h1 {
    color: #525050;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1.5em; 
    text-justify: auto;  
  }

  .left hr {
    background-color: #878686;
    margin: 0;
}

.story-hr {
    background-color: #878686;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5em;
    margin-top: 4.5em;
    max-width: 95%;
}

header hr {
    background-color: #878686;
    margin: 0;
    height: 0.75px;
}

header p {
    color: #525050;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1.1em; 
    text-justify: auto; 
    padding-top: 1em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.logo {
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 2.5em; 
    text-justify: center; 
    padding: 0;
    align-self: center;
}

#date {
    color: #525050;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1em; 
    text-justify: right; 
    padding-bottom: 0;    
}

.invisible {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1em; 
    text-justify: right;    
}

#header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-right: 3em;
    margin-left: 3em;
}

/* media query for mobile phones */
@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
      }

    #header-info {
        display: block;
        margin-right: 5px;
        margin-left: 5px;
     }

     .invisible {
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        font-size: 0.5em; 
        text-justify: right;    
        }

    #date {
        color: #525050;
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        font-size: 1em; 
        text-justify: right;     
        }

    #opening-randomize {
        display: block;
        width: 100%;
    }

    aside {
        display: none;
    }

    #opening-mantra {
        display: none;
    }


}

